<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.oakley.fon"
	android:versionName="1.5.1" android:versionCode="151" android:installLocation="auto">

	<meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIrz2YSu-eoPOUZdBts58P16DSrg8l19ZXzE1SOA" />

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	
	<uses-feature android:name="android.hardware.wifi" android:required="true" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />
		
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:label="@string/app_name" android:name=".AndroidWISPr">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="fon" />
			</intent-filter>
		</activity>

		<activity android:label="@string/app_name" android:name=".PreferencesAdvanced" />

		<receiver android:name=".NetworkConnectivityReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="android.net.wifi.STATE_CHANGE" />
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".NetworkScanReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="android.net.wifi.SCAN_RESULTS" />
			</intent-filter>
		</receiver>

		<service android:name=".WISPrLoggerService" />
		<service android:name=".NotificationCleaningService" />
		<service android:name=".LogOffService" />
	</application>
</manifest> 
